*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    
}
#nav{
    width: 100%;
    height: 30%;
    display: flex;
    padding: 30px 30px;
}
#head{
    width: 70%;
    height: 100%;
}
#head p{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#menu{
    width: 30%;
    height: 100%;
}
#menu button{
    border: none;
    background-color: transparent;
    padding: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#main{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#img{
    width: 20%;
    height: 50%;
    left: 40%;
    bottom: 20%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('purepng.com-antique-wall-clockelectronicsclock-watch-wall-clock-time-941524679045mc6cq.png');
}
.c2{
     margin-left: -20px;
}
#main p{
    margin-top: 10px;
    font-size: 20em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#first{
    margin-right: 90px;
    margin-left: -14px;
}


#footer{
    width: 100%;
    height: 20%;
    display: flex;

}
#side{
    width: 10%;
    height: 100%;
}
#side i{
    display: block;
    
    color: white;
    padding: 10px 30px;
}
#para{
    width: 40%;
    height: 100%;
    margin-left: 200px;
    margin-right: 100px;
}
#p1{
    color: white;
    font-size: 18px;
    font-weight: 800;
    
}
#p2{
    margin-top: 10px;
    color: rgb(100, 94, 94);
    font-size: 15px;

}

#sidemenu{
    width: 30%;
    height: 100%;
    padding: none;
    margin-left: 60px;
    
}
.m1{
    font-size: 15px;
    color: white;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}
.l1{
    border-bottom: 0.9px solid rgb(100, 94, 94);

}